/*
  Name: Portfolio
  Author: Neha Anandpara
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

html{
  font-family: 'Raleway', sans-serif;
	background: #3b3251;
 	color: #fff;
}

body{
  font-family: 'Raleway', sans-serif;
	background-color: #3b3251;
	position: relative;
}

a {
  color: #fff;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
}

hr {
	width: 60px;
	border-top: 2px solid #fff;
}

/*.............................................
#Home
...............................................*/

#home{
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}


#home .row {
  display: flex;
  align-items: center;
}

#home .home-img {
  padding-left: calc(40% - 90px);
  margin-top: calc(5% - 20px);
}

#home .home-img img {
  height: 300px;
  width: 250px;
}

 #home #home-title{
  font-weight: 0;
  right: 0;
  left: calc(10% - 10px);
  bottom: 0;
  color: #fff;
  text-align: left;
}

#home #home-title .title-wrap {
  padding-top: calc(8% - 10px);
}

#home #home-title .text{
  padding-right: calc(4% - 80px);
  font-size: 24px;
  width: 100%;
}

#home #home-title .text span {
  color: #ff7885;
}

#home #home-title p {
  margin-top: 18px;
  font-size: 18px;
}

#home #home-title a {
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 70px;
  text-align: center;
  background-color: #ff7885;
  padding: 0px;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home .home-img {
      padding-left: calc(10% - 40px);
      margin-top: calc(1% - 10px);
    }

    #home .home-img img {
      height: 200px;
      width: 120px;
    }

    #home #home-title{
      left: 0px;
    }

    #home #home-title .text{
      font-size: 16px;
    }

    #home #home-title p {
      margin-top: 10px;
      font-size: 16px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #home .home-img {
      padding-left: calc(30% - 90px);
      margin-top: calc(4% - 20px);
    }

  #home .home-img img {
      height: 250px;
      width: 150px;
    }

    #home #home-title{
      left: calc(5% - 10px);
    }

    #home #home-title .text{
      font-size: 20px;
      }

    #home #home-title p {
      margin-top: 10px;
      font-size: 16px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #home .home-img {
      padding-left: calc(40% - 100px);
      margin-top: calc(4% - 20px);
    }

    #home .home-img img {
      height: 300px;
      width: 200px;
    }

    #home #home-title .title-wrap {
      padding-top: calc(10% - 20px);
    }

    #home #home-title{
      left: calc(8% - 30px);
    }

    #home #home-title .text{
      padding-right: calc(5% - 100px);
    }

    #home #home-title .text{
      font-size: 24px;
      letter-spacing: 1px;
    }

    #home #home-title p {
      margin-top: 12px;
      font-size: 18px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #home .home-img {
  padding-left: calc(40% - 90px);
  margin-top: calc(5% - 20px);
}

#home .home-img img {
  height: 300px;
  width: 250px;
}

 #home #home-title{
  font-weight: 0;
  right: 0;
  left: calc(10% - 10px);
  bottom: 0;
  color: #fff;
  text-align: left;
}

#home #home-title .title-wrap {
  padding-top: calc(8% - 10px);
}

#home #home-title .text{
  padding-right: calc(4% - 80px);
  font-size: 24px;
  width: 100%;
}

#home #home-title .text span {
  color: #ff7885;
}

} 


/*......................................
#Navbars
........................................*/
.navbar-onScrolling {
  background-color: #65446d;
}

.navbar-onScrolling span i{
	color: #fff;
	border: 1px solid #fff;
	padding: 7px;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* fixed to top styles */
.affix.navbar {
}

.affix.navbar .nav-item>a, 
.affix.navbar .navbar-brand {
    color: #fff;
}


/*.............................................
#About
...............................................*/

#about{
  padding: 60px 0 0 0;
}

#about .about-heading h1 {
  text-transform: uppercase;
	font-weight: bold;
}


#about .about-pic-and-skills {
	padding: 30px 0 0 0;
}

#about .about-pic-and-skills .col-md-6 {
  margin: 30px 0 0 0;
}

#about .discription h2 {
 	color: #ff7885;
 }

#about .discription .Content {
	font-size: 16px;
  color: #fff;
  text-align: justify;
}

#about .about-pic-and-skills .about-pic a {
	color: #ff7885;
	font-weight: 600;
}

#about .about-pic-and-skills .skills .title {
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	padding-left: 6px;
}

#about .about-col-heading {
  font-size: 1.4rem;
  color: #fff;
  margin: 60px 0 0 0;
  text-transform: uppercase;
}

#about .about-col {
  margin: 30px 0;
}

.hexagon-wrapper {
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
}


#hex {
  width: 150px;
  height: 150px;
}

#color2 {
  background-color: #ff7885;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}


section:nth-of-type(2) .hexagon i {
  position: absolute;
  top: 40px;
  font-size: 50pt;
  color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}

#about .about-col .title {
  font-weight: bold;
  position: relative;
  margin-top: 10px;
  bottom: -10px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  #hex {
    width: 100px;
    height: 100px;
  }

  section:nth-of-type(2) .hexagon i {
  position: absolute;
  top: 30px;
  font-size: 30pt;
  color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
  }

  #about .about-pic-and-skills .skills {
    margin-right: 20px;
  }
}
/*.............................................
#Portfolio
...............................................*/

#portfolio{
	padding: 60px 0 0 0;
}

#portfolio .portfolio-heading{
	text-transform: uppercase;
	margin-bottom: 60px;
}

#portfolio .portfolio-heading h1 {
	font-weight: bold;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 250px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 200px;
  position: relative;
  border-radius: 4px;
  margin: 0;
}

#portfolio .portfolio-item figure img {
	height: 100%;
	width: 100%;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
  background: #ff7885;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

/*.......................................
#Contact
............................................*/
#Contact {
  padding: 60px 0 0 0;
}

#Contact .Contact-heading {
	margin-bottom: 40px;
}

#Contact .Contact-heading h1 {
	font-weight: bold;
  text-transform: uppercase;
}

#Contact h2 {
	font-weight: 500;
	margin-left: 0px;
}

#Contact p {
	margin-left: 0;
	margin: 30px 0;
}
#Contact .contact-list {
 margin: 0px auto; 
}

#Contact .contact-list a {
	margin: 3px;
  
}

#Contact .contact-list a img {
  height: 40px;
  width: 40px;
	margin: 5px;
}

#Contact .contact-list a .mail {
  height: 50px;
  width: 50px;
}